SECRET_KEY = random value
DEBUG = True or False

POSTGRESS_NAME = DataBase Name
POSTGRESS_USER = User Postgresql
POSTGRESS_PASSWORD = Password Postgresql
POSTGRESS_HOST = host db
POSTGRESS_PORT = port db

EMAIL_HOST_USER = gmail addres
EMAIL_HOST_PASSWORD = gmail password app

SETTINGS_TYPE = development or production