{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head-custom %}
    <link rel="stylesheet" href="{% static 'styles/order.css' %}">
{% endblock head-custom %}

{% block title %}CheckOut Products{% endblock title %}

{% block body %}
{% if orders %}
<table class="table border border-2">
    <thead class='table-dark'>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Count</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
    {% for ord in orders %}
        <tr>
            <td scope="row" class="text-medium">
              <img src={{ord.product.image.url}} class='img-thumbnail rounded' width='8%'> 
              {{ ord.product.name }}
            </td>
            <td> 
              <div class="btn-group border border-2 rounded">
                  
                    <a href="{% url 'order:subtract' ord.product.id %}?next=checkout" class="btn text-danger">
                      {% if ord.count > 1 %}
                        <i class="fa-solid fa-minus"></i>
                      {% else %}
                        <i class="fa-solid fa-trash"></i>
                      {% endif %}
                    </a>
                  <button class="btn btn-show">
                    {% for num in ord.count|make_list  %}<i class="text-danger fa-solid fa-{{ num }}"></i>{% endfor %}
                  </button>
                  <a href="{% url 'order:add' ord.product.id %}?next=checkout" class="btn text-danger"><i class="fa-solid fa-plus"></i></a>
              </div>
            </td>
            <td>
              <span class="text-secondary text-medium"><i class="fa-solid fa-dollar-sign"></i> {{ ord.product.price | intcomma }}</span>
            </td>
        </tr>
    {% endfor %}
        <tr class="table-primary">
          <td colspan='2' class="p-2 text-bold">Total</td>
          <td colspan='1' class="p-2 text-bold">
            <span class="text-success"><i class="fa-solid fa-dollar-sign"></i> {{ order_detail.total | intcomma }}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <a href="#" class="btn btn-success col-12">Payment</a>
</div>
{% else %}
<div id="empty">
  <i class="text-danger fa-solid fa-xmark"></i>
  <div>Order Is Empty</div>
</div>
{% endif %}
{% endblock body %}