{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head-custom %}
    <link rel="stylesheet" href="{% static 'styles/detail.css' %}">
{% endblock head-custom %}

{% block title %}{{product.name}}{% endblock title %}

{% block body %}
    <div class="col-12 d-flex p-2">
        <div class="col-4 text-start">
            <img class="img-thumbnail col-12 p-2 w-75" src="{{ product.image.url }}" alt="">
            <h2 class="text-start  w-75" style="font-size: 1.5vw;">{{product.name}}</h2>
            <p class="lead badge bg-primary" style="font-size: 0.8vw;">{{ product.category }}</p>
        </div>

        
        <div class="col-4">
            <p class=" font-weight-normal" style="text-align: justify;font-size: 1vw;">{{product.description | safe}}</p>
        </div>
        
        
        <div class="col-4">
            <div id="box-buy" class="bg-white">
                <span><i class="fa-solid fa-shield text-warning"></i> 3 Day Waranty</span>
                <hr>
                <span>
                    {% for num in product.amount|make_list  %}<i class="text-primary fa-solid fa-{{ num }}"></i>{% endfor %} Available in stock
                </span>
                <hr>
                <span><i class="fa-solid fa-dollar-sign text-success"></i> {{ product.price | intcomma }}</span>
                <hr>

                <div class="btn-group" id='g-b'>
                {% if count_item %}
                    <button onclick="SubtractItem({{ product.id }})" class="btn btn-danger" id="subtract-product">
                        {% if count_item == 1 %}
                            <i class="fa-solid fa-trash"></i>
                        {% else %}
                            <i class="fa-solid fa-minus"></i>
                        {% endif %}
                    </button>
                    <button class="btn btn-secondary" style="cursor: default;" id="p-c-{{ product.id }}">{{ count_item }}</button>
                    <button onclick="AddItem({{ product.id }})"  class="btn btn-success"><i class="fa-solid fa-plus"></i></button>
                {% else %}
                    <button onclick="AddItem({{ product.id }})"  class="btn btn-success"><i class="fa-solid fa-plus"></i></button>
                {% endif %}
                </div>

            </div>
        </div>
    </div>

<script src="{% static 'script/order/edit_order.js' %}"></script>
<script src="{% static 'script/order/in_detail.js' %}"></script>
{% endblock body %}